.navbar{
    list-style-type: none;
    margin:0 ;
    padding: 0;
    overflow:hidden;
    background-color:red;
}
.navbar li{
    float:left;
}
.navbar li a{
    display: block;
    color: white;
    padding: 14px  16px;
    text-decoration: white;
    margin-left: 120px;
    font-family:'Franklin Gothic Medium';
     }
     .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
  width: 100%
        

        
        
      }
      
